 * {
	-mox-user-select: none;
	-webkit-user-select: none;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#container {
	height: 100%;
	width: 100%;
	background-color: black;
	/*border: 1px solid black;*/
}

circle {
	fill: hsla(0, 98%, 66%, 0.8);
	stroke: none;
}

path {
	stroke: white;
}

#feedback {
	position: fixed;
	bottom: 0px;
	right: 0px;
}